<script>
import ICalReader from '../services/ICalReader.ts';

// https://icalendar.org/iCalendar-RFC-5545/4-icalendar-object-examples.html
// https://en.wikipedia.org/wiki/ICalendar
export default {
    props: {
        ical: String // -> give some reader instead of a specific format
    },
    data() {
        return {
            reader: ICalReader.parse(this.ical)
        }
    }
}
</script>

<template>
        <div></div>
</template>

<style>

</style>