<template>
    <div id="app">
        <Calendar :ical="ical"/>
    </div>
</template>

<script>
import Calendar from './components/Calendar.vue'

import Ical from './assets/example.ical'

export default {
    name: 'App',
    components: {
        Calendar
    },
    data() {
        return {
            ical: Ical
        };
    }
}
</script>

<style>

</style>
